body {
    background-color: #063333;
    text-align: center;
    
}
div{

     width: fit-content;
    
margin: auto;
padding: 5px;

}
button {
    color: white;
    background-color:red;
    width: 150px;
}
form{
    width: 300px;
    color: rgb(34, 54, 238);
  background-color: white;
 
}